/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gowun Batang', serif;
}

li {
    list-style-type: none;
}

header {
    background: url(./images/title.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: 812px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    position: absolute;
    top: 63px;
}

.title-info {
    position: absolute;
    bottom: 55px;
}

.title > img {
    width: 26px;
    height: 26px;
}

.title h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 18px;
}

.title > h1 > span {
    font-size: 24px;
}

.title-info h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}


/* section */
section {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

#content01 {
    background-color: #fff;
}

section h1 {
    font-size: 30px;
    font-family: 'Homemade Apple', cursive;
    margin-top: 60px;
}

.invitation > h1 {
    color: #837292;
    font-weight: normal;
}

.invitation-text {
    font-size: 16px;
    font-weight: 700;
    color: #837292;
    margin-top: 35px;
    margin-bottom: 80px;
}

.invitation-text p {
    margin-bottom: 1em;
}


#content02 {
    background-color: #837292;
}

.program > h1 {
    color: #fff;
    font-weight: normal;
    padding-top: 60px;
}

.Program-text {
    margin-top: 35px;
    padding-bottom: 70px;
}

.Program-text p {
    margin-bottom: 1em;
    color: #fff;
}

/* gallery */
#gallery {
    margin-bottom: 50px;
}

#gallery h1 {
    color: #837292;
    font-size: 30px;
    font-weight: normal;
}

#gallery > figure {
    padding: 30px 15px;
}

#gallery > figure > .main-photo > img {
    width: 100%;
    height: 249px;
    object-fit: cover;
    display: block;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

#gallery > figure > .img-list {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#gallery > figure > .img-list > li {
    width: calc((100% - 30px) / 4);
    height: 60px;
}

#gallery > figure > .img-list > li > a > img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

/* map */
#location {
    background-color: #837292;
    padding-top: 30px;
    padding-bottom: 40px;
}

.location h1 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

#map {
    margin-top: 35px;
    margin-bottom: 30px;
}

.location-text p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

/* contact */
#contact-box {
    background-color: #fff;
    padding-bottom: 60px;
}

.contact h1 {
    color: #837292;
    font-weight: normal;
}

.contact p {
    color: #837292;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.contact-btn {
    width: 287px;
    height: 46px;
    background: rgba(131, 114, 146, 0.65);
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}

.contact-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* footer */
footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #837292;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.sns-group a img {
    width: 40px;
}

.sns-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}